* {
    padding: 0;
    margin: 0;
}

.header {
    height: 100px;
    width: 100vw;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .navigation {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            .liste {
                display: flex;
                width: 50%;
                justify-content: space-between;
                list-style: none;

                a{
                    text-decoration: none;
                    color: #f6cb02;
                    font-size: 25px;
                }

                a:hover{
                    color: #ff0000;
                }
            }
        }

        .connexion {
            color:#f6cb02;
            font-size: 25px;
            justify-self: end;
        }
    }
}